			<div class="footer_wrap">
				<div class="footer_inner">
					<div class="footer_detail">
						<div class="footer_info">
							<address>
								<p><span>사업장주소</span><span>서울 중구 한강대로416, 서울스퀘어 10층</span></p>
								<p><span>사업자 등록번호</span><span>106-81-23810</span></p>
								<p><span>대표이사</span><span>Oyama Masuo</span></p>
								<p><span>TEL</span><span>02-6324-3111</span></p>
								<p><span>FAX</span><span>02-6324-3112</span></p>
								<p><span>E-MAIL</span><span>SSS-K-contact@sony.com</span></p>
							</address>
						</div>
					</div>
					<div class="footer_side">
						<a href="https://www.sony-semicon.com/" class="family_link" target="_blank" title="새창열림">Sony Semiconductor Solutions Corporation</a>
						<a href="https://www.sony.com/en/" class="family_link" target="_blank" title="새창열림">Sony Group Site</a>
					</div>
					<p class="copyright">Copyright © Sony Semiconductor Solution Korea Corporation. All rights reserved.</p>
				</div>
			</div>