			<div class="header_wrap">
				<div class="header_inner">
					<h1 class="logo"><a href="./index.html"><img src="./assets/images/logo_sony.png" alt="SONY"></a></h1>
					<div class="header_menu">
						<button type="button" class="btn_menu">
							<span></span>
							<span></span>
							<span></span>
							<em>전체 메뉴 열기</em>
						</button>
						<div class="allmenu_wrap">
							<div class="allmenu_inner">
								<div class="allmenu_list">
									<ul>
										<li><a href="./company.html"><span>회사소개</span></a></li>
										<li><a href="./notice.html"><span>공지사항</span></a></li>
										<li><a href="./contact.html"><span>Contact US</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="header_bg"></div>
					</div>
				</div>
			</div>